{{define "homeindex"}}
{{template "head" .}}
{{template "navbar" .}}
<div class="container">
  {{if .Error}}
    {{template "errormessage" .}}
  {{end}}
  {{if .Current}}
    <div class="row">
      <aside class="col-xs-4">
        <form action="/messages/create" method="post" class="">
          <div class="form-group">
            <input type="textarea" name="body" row="5" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">投稿する</button>
        </form>
      </aside>
      <div class="col-xs-8">
        <ul class="media-list">
          {{range .MessageWithUser}}
          <li class="media">
            <div class="media-left">
              <img class="media-object img-rounded" src="" alt="">
              </div>
            <div class="media-body">
              <div>
                post by {{.User.Email}} at {{.Mes.CreatedAt}}
              </div>
              <div>
                <p>{{.Mes.Body}}</p>
              </div>
            </div>
          </li>
        {{end}}
      </div>
    </div>
  {{else}}
    <div class="center jumbtron">
      <div class="text-center">
        <h1>Welcome to the Micropost</h1>
      </div>
    </div>
  {{end}}
</div>
</body>
</html>
{{end}}
