{{define "useredit"}}
{{template "head" .}}
{{template "navbar" .}}
<div class="container">
  <form action="/users/{{.u.ID}}" method="POST" class="form-horizontal form">
    <div class="form-group">
      <label class="col-xs-2 control-label">メール</label>
      <div class="col-xs-10">
        <input type="text" name="email" value="{{.u.Email}}" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">パスワード</label>
      <div class="col-xs-10">
        <input type="password" name="passwd" value="" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default put">更新</button>
      </div>
    </div>
  </form>
  <script>
  $(function() {
    $(".put").on('click', function(e) {
      e.preventDefault();
      var params = $('.form').serialize();
      $.ajax({
        url: '/users/{{.u.ID}}',
        type: 'PUT',
        data: params,
        success: function(result) {
          location.href = "/users/{{.u.ID}}";
        }
      });
    });
  });
</script>
</body>
</html>
{{end}}
