{{define "usernew"}}
{{template "head" .}}
{{template "navbar" .}}

<div class="container">
  <form action="/users" method="POST" class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-2 control-label">メール</label>
      <div class="col-xs-10">
        <input type="text" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">パスワード</label>
      <div class="col-xs-10">
        <input type="password" name="passwd">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">登録</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
{{end}}
